/* @import url(./globals.css); */

.pageContainer {
  padding: 0 0;
}

.mainContent {
  height: 95vh;
  padding: 0rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pageTitle a {
  color: var(--secondary);
}

.pageTitle {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.pageTitle,
.description {
  text-align: center;
}

.appGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Adjusting number of columns */
  grid-gap: 2vw;
  width: 90%;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  backdrop-filter: blur(4px);
  overflow: scroll;
}

.appCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vw;
  border: 1rem solid none;
}

.appImageContainer {
  width: 100%;
  overflow: hidden; /* Prevent images from spilling out of the container */
  z-index: 0;
}

.appImage {
  width: 100%;
  height: 100%; /* Make the image fill its container */
  opacity: 0.8;
  object-fit: contain; /* Scale the image to cover its container */
  filter: grayscale(100%);
}

.appCard:hover .appImage {
  filter: none;
  /* object-fit: contain; */
  /* transition: object-fit 0.3s ease;  */
}

.appDetails {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vh;
}

.appDetails div {
  display: flex;
  justify-content: center;
  gap: 1vw;
}

.appDetails div a {
  text-decoration: underline;
  padding: 0.5vw;
  border-radius: 0.5vw;
}

.appDetails big {
  color: var(--secondary);
}

.appDetails p {
  color: var(--secondary);
}

@media (max-width: 768px) {
  .appDetails {
    width: 100%;
    padding: 2vw 4vw 2vw 4vw;
  }
  .appGrid {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1vw; /* Adjusting grid gap for smaller screens */
  }
}

.visuallyHidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

@media (min-width: 2560px) {
  .mainContent {
    padding: 2rem 0;
  }

  .pageTitle {
    font-size: 6rem;
  }

  .appGrid {
    grid-gap: 3vw;
  }

  .appCard {
    padding: 3vw;
  }

  .appImage {
    object-fit: cover;
  }

  .appDetails {
    gap: 2vh;
  }

  .appDetails div a {
    font-size: 2rem;
    padding: 1vw;
    border-radius: 1vw;
  }

  .appDetails big {
    font-size: 3rem;
  }

  .appDetails p {
    font-size: 2rem;
  }
}
