/* @import url(./globals.css); */

.container {
  padding: 0 0;
}

.main {
  height: 95vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title a {
  color: var(--secondary);
  text-decoration: underline;
}

.title a:hover {
  text-decoration: none;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 90%;
  max-width: 500px;
}

.form label {
  color: var(--secondary);
  text-align: left;
  width: 90%;
}

.form input,
.form textarea {
  width: 90%;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid var(--secondary);
}

.form textarea {
  resize: none;
}

.form button {
  padding: 0.5rem 1rem;
  background-color: var(--secondary);
  color: var(--dark);
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
  width: 90%;
}

.form button:hover {
  background-color: var(--primary);
}

.contactInfo {
  margin-bottom: 2rem;
  text-align: center;
}

.contactInfo ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.contactInfo ul li a {
  color: var(--secondary);
  text-decoration: underline;
}

.contactInfo ul li a:hover {
  text-decoration: none;
}
