.container {
  padding: 0 0;
  background-color: var(--c1);
}

.main {
  height: 95vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  font-size: 1.5rem;
}

.grid {
  display: grid;
  height: 80vh;
  width: 60vw;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  background-color: var(--c4);
  padding: 1rem;
  border-radius: 1rem;
}
.filterGrid {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filterGrid form {
  display: flex;
  height: 8vh;
  width: 60vw;
  gap: 1rem;
  background-color: var(--primary);
  margin-bottom: 0.4rem;
  padding: 1rem;
  border-radius: 1rem;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  overflow-x: scroll;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.filterGridItem input[type='checkbox'] ~ span {
  padding: 0.5rem;
  background-color: var(--dark);
  border-radius: 0.5rem;
  cursor: pointer;
}

.filterGridItem input[type='checkbox'] {
  display: none;
}
.filterGridItem input[type='checkbox']:checked ~ span {
  width: auto;
  height: auto;
  background-color: var(--secondary);
}
