html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

:root.light {
  --primary: #00916e;
  --secondary: #03a8a0;
  --dark: #fffcff;
  --light: #1c1c1c;
  --gray: #f3eff5;
  --shadow: #00000020;
  --radiance: #fffefe60;
  background-color: var(--dark);
  color: var(--light);

  --c1: #abcdef;
  --c2: #c8ffd4;
  --c3: #b8e8fc;
  --c4: #a1b2c3;
}

:root.dark {
  --primary: #03a8a0;
  --secondary: #00916e;
  --dark: #1c1c1c;
  --light: #fffcff;
  --gray: #f3eff5;
  --shadow: #00000060;
  --radiance: #ffffff20;
  background-color: var(--dark);
  color: var(--light);

  --c1: #123456;
  --c2: #2c3639;
  --c3: #4c3575;
  --c4: #314256;
}

::selection {
  background: var(--primary); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: var(--primary); /* Gecko Browsers */
}

a {
  color: var(--primary);
  text-decoration: none;
}

a:hover {
  color: var(--secondary);
  text-decoration: none;
  cursor: pointer;
}

:focus-visible {
  outline: 0.2rem solid var(--primary);
  border-radius: 0.5rem;
}

::-webkit-scrollbar {
  width: 0.2rem;
  height: 0.2rem;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--secondary);
  border-radius: 100vw;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}
::-webkit-scrollbar-corner {
  background: transparent;
}

@supports (scrollbar-color: red blue) {
  * {
    scrollbar-color: var(--primary) var(--radiance);
  }
}
/* Global Color Variants */
