.card {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  width: clamp(350px, 25vw, 50vw);
  height: 25vh; */
  border-width: 0.5rem;
  border-color: var(--light);
  background-color: var(--dark);
  border-radius: 1rem;
  /* border: 5px solid var(--shadow); */
  box-shadow: inset -5px -5px 10px 0px var(--shadow), inset 5px 5px 10px 0px var(--radiance);
}
.card img {
  object-fit: cover;
  cursor: pointer;
  width: 100%;
  height: auto;
  border-radius: 1rem;
}

.active {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: 9999;
  width: 90%;
  height: auto;
  animation: scaleImage 0.3s ease-in-out;
}

.exit {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: 9999;
  width: 90%;
  height: auto;
  animation: scaleDownImage 0.8s ease-in-out forwards;
}

@media (min-width: 768px) {
  .active {
    width: 60%;
    height: auto;
  }
  .exit {
    width: 60%;
    height: auto;
  }
}

@keyframes scaleImage {
  0% {
    transform: translate(-50%, -50%) scale(0.5);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes scaleDownImage {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) scale(0.5);
  }
}

@media (min-width: 2560px) {
  .card {
    /* height: 20vh; */
    border-radius: 2rem;
  }
  .card img {
    border-radius: 2rem;
  }
}
.visuallyHidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
