.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: clamp(350px, 25vw, 50vw);
  height: 30vh;
  overflow: hidden;
  border-width: 0.5rem;
  border-color: var(--light);
  background-color: var(--dark);
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.card div p {
  max-width: 100%;
  margin: 0.1rem 0.1rem 0.1rem 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
