.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: clamp(350px, 20vw, 50vw);
  height: 50vh;
  overflow: hidden;
  border-width: 0.5rem;
  border-color: rgb(212, 23, 16);
  background-color: aqua;
}
