.navbar {
  position: fixed;
  top: 30%;
  right: 3vw;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 0.5rem;
  border-radius: 1rem;
  height: auto;
  border: 0.5px solid var(--primary);

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.navbar div {
  width: 1rem;
  height: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.navbar div a {
  text-decoration: none;
}

.navbar div:hover,
.navbar div:active {
  transform: scale(1.1);
}

.navbar div.activeDot {
  text-shadow: 0 0 5px var(--light);
}
