.navbar {
  position: fixed;
  top: 30%;
  right: 3vw;
  cursor: pointer;
}

.navbar div {
  width: 1rem;
  height: 1rem;
  margin-bottom: 1rem;
  border-radius: 50%;
  background: var(--secondary);
}

.navbar div:hover,
.navbar div:active {
  transform: scale(1.1);
}

.navbar div.activeDot {
  box-shadow: 0 0 0.5rem var(--light);
}
