/* Video Explanation: https://youtu.be/kd4iFA6PzBk */

body {
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

button {
  position: fixed;
  background: #222;
  color: #fff;
  margin: 0;
  border: 0;
  padding: 15px 20px;
  border-radius: 3px;
  text-transform: capitalize;
  --gap: 10px;
  /*   display: none; */
}

button.top-left {
  top: var(--gap);
  left: var(--gap);
}

button.top-right {
  top: var(--gap);
  right: var(--gap);
}

button.bottom-left {
  bottom: var(--gap);
  left: var(--gap);
}

button.bottom-right {
  bottom: var(--gap);
  right: var(--gap);
}

button.center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.context-sub-menu,
.context-menu {
  position: fixed;
  background: #fff;
  z-index: 9999999;
  width: 120px;
  margin: 0;
  padding: 5px 0;
  border-radius: 2px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  font-size: 12px;
}

.context-menu .context-menu-item {
  height: 30px;
  display: flex;
  align-items: center;
  padding: 6px 10px;
  cursor: pointer;
  position: relative;
  border-bottom: 1px solid #f2f2f2;
}

.context-menu .context-menu-item span {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.context-menu-item:last-of-type {
  border-bottom: none;
}

.context-menu .context-menu-item:hover {
  background: #f2f2f2;
}

.context-menu .context-sub-menu {
  position: absolute;
  top: 0;
  left: 100%;
  display: none;
  width: 100px;
}

.context-menu .context-menu-item:hover > .context-sub-menu {
  display: block;
}

.context-menu.left .context-sub-menu {
  left: 0;
  transform: translateX(-100%);
}

.context-menu.top .context-sub-menu {
  top: 100%;
  transform: translateY(-100%);
}

.context-menu.left.top .context-sub-menu {
  transform: translate(-100%, -100%);
}
